:root {
	  --color-dark-blue: #212932;
	  --color-light-blue: #00A8B1;
	  --color-white: #fff;
	  --color-black: #000;
  }

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
	font-family: space, mono, sans-serif;
}

:root {
  --size: 20px;
}

body {
  background-color: #000
}

p {
	font-family: space, mono, sans-serif;
	color: #fff;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	width: 100%;
	color: var(--color-white);
	padding-top: 2rem;
	padding-bottom: 0.3rem;
	transition-duration: 0.3s;
	z-index: 999;
  position: fixed;
  background: #000
}

h1 {
  color: white;
  font-size: 2rem;
  width: 80%;
  margin: auto;
  padding: 1rem 0rem;
}

h2 {
  font-size: 1.5rem;
}

.landingContainer {
  height: 100%; 
  overflow: hidden;
  z-index: 99;
  position: sticky;
}

menu {
  display: flex;
  list-style-type: none;
}

.desktopContainer {
	display: none;
	z-index: 99;
	width: 100%;
}

.logoContainer {
	margin: auto;
}

.logoContainer img {
	width: 13rem;
  height: 4rem;
}

nav {
	list-style-type: none;
	display: flex;
	margin: auto;
}

.flash {
	animation: flash 1s infinite;
}

.h-captcha {
  text-align: center;
}

#activeLink {
	color: #00A8B1;
}

.hero {
	height: 45rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  z-index: 10;
  position: relative;
  padding-top: 7rem;
}

.heroContainer {
  width: 50%;
	height: 38rem;
  display: block;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  padding-left: 12rem;
  padding-top: 5%;
}

.heroContainer h1 {
	color: white;
	font-size: 2rem;
	width: 80%;
	margin: auto;
  padding: 1rem 0rem;
}

.heroContainer p {
	color: white;
	width: 80%;
	margin: auto;
  padding: 0.5rem 0rem;
}

.initalImgMobileContainer {
  margin: auto;
  width: 25rem;
  height: 40rem;
  position: fixed;
  z-index: 1;
  top: 22%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -12.5rem;
}

.initalImgMobile {
  width: 25rem;
}

.btnssss {
  display: flex;
  margin-top: 1rem;
}

.btnContainer {
	width: 42%;
  margin-left: 4.5rem;
}

.btnContainer a {
	text-decoration: none;
	text-align: center;
}

.glow-on-hover p {
	padding-top: 0.9rem;
}

.portfolioSlide {
	width: 50%;
	height: 38rem;
  display: block;
  overflow: hidden;
}

.desktopMock {
	width: 60rem;
  height: 34rem;
}

.mobileMockTdac {
	height: 37.5rem;
  width: 52.5rem;
}

.mobileMockEvie {
  width: 39rem;
  height: 39rem;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 1rem 0rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* Fancy Mobile Navigation CSS */
.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

header.is-open {
  height: 100%;
}

/* Band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: rgba(0,0,0,1);
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .4s .1s;
    overflow: hidden;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: skew(-16deg);
    width: 60%;
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: translateY(-4rem) skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}

/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 1rem;
	color: var(--color-white);
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
}

/* Burger Style */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 2rem;
	height: 4px;
	margin: 0 auto;
	background: var(--color-white);
	transition: all .4s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: var(--color-white);
	transition: all .4s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */
.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: var(--color-white);
}

.mobileContainer {
	z-index: 99;
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	overflow: hidden;
}


/* Fancy Links CSS */
.link {
  align-items: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  padding: 1rem;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 20px;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.3s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 1.1rem;
  line-height: 1.1rem;

  transition: transform 0.3s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
  color: #00A8B1;
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

.el {
  background: conic-gradient(from 180deg at 50% 70%,hsla(0,0%,98%,1) 0deg,#eec32d 72.0000010728836deg,#ec4b4b 144.0000021457672deg,#709ab9 216.00000858306885deg,#4dffbf 288.0000042915344deg,hsla(0,0%,98%,1) 1turn);
  width: 100%;
  height: 45rem;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px 256px;
  mask-composite: intersect;
  animation: flicker 20s infinite linear;
  position: absolute;
  z-index: 5;
}

.aboutIndexContainer {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 2rem;
}

.aboutIndexContainer h2 {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.subHeading {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.gloatContainer {
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 90%;
	margin: auto;
	padding: 1rem 3rem;
}

.valueContainer {
	width: 23rem;
	height: 17rem;
	display: flex;
	justify-content: center;
	background-color: #000;
	padding: 5rem 2rem;
	flex-wrap: wrap;
}

.valueContainer h3 {
	width: 100%;
	height: 2rem;
	text-align: center;
}

.valueContainer p {
	text-align: center;
}

.icon {
	width: 4rem;
	height: 4rem;
	filter: invert(1);
}

#aboutBtn {
	width: 20%;
	margin: auto;
	display: flex;
  justify-content: center;
  z-index: 999;
}


/* Portfilio Index Section */
.portfolioIndexContainer {
	display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  z-index: 10;
  color: #fff;
  padding: 3rem 2rem;
  z-index: 99;
  background-color: #000;
}

.portfolioIndexContainer h2 {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.portfolioIndexContainer p {
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}

#portfolioIndex {
	height: 100%
}

.contentContainer {
	width: 45%;
  height: 100%;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 2rem;
  background-color: #000;
}

.imgContentContainer {
	width: 100%;
	display: flex;
  justify-content: center;
}

.imgClassContentContainer {
	max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.titleContentContainer {
	margin: 1.5rem auto 0.5rem auto;
	text-align: center;
}

.contactIndexContainer {
  background-color: #000;
  z-index: 99;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.contactIndexContainerTitle h2 {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-top: 2rem;
}

.formContainer {
  padding: 2rem;
  width: 100%;
}

.formInput {
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.formInputMsg {
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.formBtn {
  padding: 1rem;
  width: 20%;
  font-size: 1rem;
  font-family: space, mono, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  background-color: #000;
  position: relative;
  z-index: 101;
}

.footerLogoContainer {
  text-align: center;
  width: 100%;
}

.footerLinks {
  text-align: center;
}

.footerMenu {
  display: flex;
  padding: 1rem 0rem;
}

.footerMenu li {
  padding: 1rem;
}

.footA {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
}

.lastWord {
  width: 100%;
}

.footerLogo {
  width: 9rem;
  height: 2.8rem;
  z-index: 999;
  position: relative;
}

/* 404 PAGE STUFF */
#lostHero {
  height: auto;
  padding: 8rem 0rem;
}

.lostTop {
  padding: 2rem;
  display: block;
  width: 100%; 
}

.lostTop h1 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* CONTACT page */
#contactHero {
  height: auto;
  padding: 10rem 0rem;
}

.downArrow {
  height: 3rem;
  width: 3rem;
  filter: invert(1);
}

/* Portfolio CSS */
.portfolioContainer {
  width: 90%;
  padding-top: 5%;
  text-align: center;
  display: block;
  margin: auto;
}

.portfolioBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolioBtn a {
  text-decoration: none;
}

#portHero {
  height: 28rem;
}

#tdacTitle {
  font-size: 1.5rem;
}

#evieTitle {
  font-size: 1.5rem;
}

#intouchTitle {
  font-size: 1.5rem;
}

.portfolioWorkContainer {
  width:50%;
}

.detailsContainer {
  width: 50%;
}

.sectionsContainer {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* MEDIA QUERIES */
/* Bigger than a tablet */
@media screen and (min-width: 1024px) { 
	.mobileContainer {
		display: none;
	}
	.desktopContainer {
		display: flex;
	}
  .initalImgMobileContainer {
    display: none;
  }
}

/* Tablets or smaller */
@media screen and (max-width: 1024px) { 
	header {
		height: 5rem;
		padding: 0;
		background-color: rgba(0, 0, 0, 0);
	}
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  #lostHero {
    padding: 5rem 0rem;
  }
  #contactHero {
    padding: 5rem 0rem;
  }
  .footerMenu {
    display: block;
  }
  .footerMenu li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .hero {
    display: block;
    text-align: left;
    padding-top: 5rem;
    height: 100%;
    min-height: 37rem;
  }
  #portHero {
    height: 21rem;
    min-height: 21rem;
  }
  .heroContainer {
    padding: 0;
    padding-top: 0px;
    margin-top: 15rem;
    width: 100%;
    height: 100%;
    min-height: 18rem;
    background: rgba(0,0,0,0.5);
    padding-top: 10rem;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
    padding-bottom: 2rem;
    z-index: 2;
    position: relative;
  }
  .heroContainer h1 {
    font-size: 1.5rem;
  }
  .heroContainer p {
    font-size: 1.1rem;
  }
  .logoContainer {
    padding: 1rem 0rem 0.5rem 2rem;
    background-color: #000;
  }
  .logoContainer img {
    width: 9rem;
    height: 2.8rem;
    z-index: 999;
    position: relative;
  }
  .hideMobile {
    display: none;
  }
  .glow-on-hover {
    width: 100%;
  }
  .portfolioSlide {
    width: 100%;
    height: auto;
  }
  .mobileMockEvie {
    width: 31rem;
    height: 31rem;
  }
  .el {
    height: 100%;
    min-height: 42rem;
  }
  .portfolioSlide {
    display: none;
  }
  .aboutIndexContainer {
    padding: 0;
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    z-index: 99;
  }
  .aboutIndexContainer h2 {
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .aboutIndexContainer p {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
  }
  .valueContainer {
    padding: 1rem;
    height: 8rem;
    margin: 0rem;
    border: none;
  }
  .valueContainer p {
    display: none;
  }
  #aboutBtn {
    width: 80%;
  }
  .btnContainer a {
    width: 100%;
  }
  .portfolioBtn a {
    width: 100%;
    text-decoration: none;
  }
  .gloatContainer {
    padding: 1rem 0rem;
  }
  .progress-wrap {
    bottom: 3rem;
    right: 1rem;
  }
  .btnssss {
    display: block;
    margin-top: 0;
  }
  .btnContainer {
    width: 80%;
    margin: auto;
  }
  .portfolioBtn {
    width: 80%;
    margin: auto;
  }
  .formInput {
    width: 100%;
  }
  .formInputMsg {
    width:100%;
  }
  .lostTop h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}


/* KEYFRAME CSS */
@keyframes flicker {
  to {
    mask-position: 50% 50%, 0 50%;
  }
}

@keyframes flash {
	from, to { color: transparent }
  50% { color: #fff; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInOpposite {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* FONT FAMILY CSS */
@font-face { font-family: space; src: url('fonts/SpaceGrotesk-VariableFont_wght.ttf'); 
  font-display: swap;
 }
 @font-face { font-family: mono; src: url('fonts/ShareTechMono-Regular.ttf'); 
  font-display: swap;
 }